/.project
/.idea
__pycache__
*.pyc
*.yaml.cache
*.yaml.*.cache
*.cache.lock
.asm.py.asm.cache
.bin.py.bin.cache
.bin.py.code.cache
.coverage*
.settings
*.swp
htmlcov
/doc/source/microprobe.*.rst
/doc/source/examples_outputs/*
/doc/build/*
dev_tools/ci/*.sh.error
dev_tools/ci/*.sh.html
dev_tools/ci/*.sh.txt
.*.swp
.coverage
.coverage.*
coverage.zip
htmlcov/
venv/
./distribution/
documentation.txt
pep8.out
deploy-2.7/
deploy-2.6/
tests_*.xml
/.cache*
/distribution
/cover*xml
/venv*
/pylint*.out
/doc.out
/pycodestyle*.out
/pycodestyle.err
/nosetests.xml
*~
.#*
*#*#
tags
TAGS
.pydevproject
/.pydevproject
doc/error.log
doc/errors.txt
get_pip
